@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%
}

a {
  @apply font-medium text-[#191c53];
}

a:hover {
  @apply text-[#3137a8];
}

#title {
  text-align: center;
}

.blog {
  width: 85vw;
  margin: 41px auto;
  padding: 14px;
  display: flex;
  flex-direction: column;
  
}

.card__title {
  font-size: 41px;
  text-align: center;
}

.image {
  width: 60%;
  height: 60%;
  margin: 25px auto;
}

.link {
  margin-bottom: 0;
}